body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-times-new-roman: "Times New Roman";
    --font-arial: Arial;
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-mini: 15px;
    --font-size-smi: 13px;
    --font-size-lg: 18px;
    --font-size-2xs: 11px;
  
    /* Colors */
    --color-white: #fff;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #e5e5e5;
    --color-whitesmoke-100: #f7f7f7;
    --color-whitesmoke-200: #f4f4f4;
    --color-whitesmoke-300: #efefef;
    --color-gray-100: #939393;
    --color-gray-200: #757575;
    --color-gray-300: #222;
    --color-gray-400: rgba(0, 0, 0, 0.5);
    --color-darkgray: #ababab;
    --color-dimgray: #4f4f4f;
    --color-brown: #9f224e;
    --color-silver-100: #c4c4c4;
    --color-silver-200: #bdbdbd;
    --color-lightblue: #bcdff4;
    --color-steelblue-100: #076fba;
    --color-steelblue-200: #0c4b71;
    --color-lightsteelblue: #a3c7db;
    --color-lightgray: rgba(204, 204, 204, 0.09);
  
    /* Gaps */
    --gap-lgi: 19px;
    --gap-xl: 20px;
    --gap-4xs: 9px;
    --gap-mid-7: 17.7px;
    --gap-8xs-2: 4.2px;
    --gap-12xs-4: 0.4px;
    --gap-10xs-3: 2.3px;
    --gap-xs-6: 11.6px;
    --gap-mini: 15px;
    --gap-base-7: 15.7px;
    --gap-base: 16px;
    --gap-6xs: 7px;
    --gap-mini-5: 14.5px;
    --gap-5xs: 8px;
    --gap-7xs: 6px;
    --gap-12xs-1: 0.1px;
    --gap-3xs: 10px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-7xl: 26px;
    --padding-2xl: 21px;
    --padding-5xs: 8px;
    --padding-8xs-4: 4.4px;
    --padding-6xs-1: 6.1px;
    --padding-smi: 13px;
    --padding-9xs: 4px;
    --padding-6xs: 7px;
    --padding-9xs-7: 3.7px;
    --padding-0: 0px;
    --padding-base-8: 15.8px;
    --padding-8xs: 5px;
    --padding-xs: 12px;
    --padding-11xs: 2px;
    --padding-10xs-1: 2.1px;
    --padding-12xs-4: 0.4px;
    --padding-7xs-4: 5.4px;
    --padding-5xs-1: 7.1px;
    --padding-6xs-9: 6.9px;
    --padding-5xs-4: 7.4px;
    --padding-6xs-4: 6.4px;
    --padding-7xs: 6px;
    --padding-6xs-8: 6.8px;
    --padding-10xs-6: 2.6px;
    --padding-10xs: 3px;
    --padding-smi-4: 12.4px;
    --padding-12xs-2: 0.2px;
    --padding-2xs-8: 10.8px;
    --padding-8xs-2: 4.2px;
    --padding-2xs: 11px;
    --padding-9xs-5: 3.5px;
  
    /* Border radiuses */
    --br-10xs: 3px;
  }
  